body {
  font-family: "Montserrat";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #2e856e;
  color: #fff;
}

.white-section {
  background-color: #d1f5d3;
}

/* title */
#title {
  overflow: hidden;
  text-align: center;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}
/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
  display: inline-block;
}

/* Title Image and big heading */
.big-heading {
  size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  font-size: 3rem;
}



.title-img-container {
  position: relative;
}

.bush1 {
  width: 60%;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.title-image {
  width: 40%;
  position: absolute;
  right: 15%;
  z-index: 2;
  bottom: 0;
}

/* features */
#features {
  z-index: 1;
  text-align: center;
}

.feature-icon {
  color: #fa1616;
}

.feature-icon:hover {
  color: #e7305b;
}

.feature-header {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 1rem;
}

.feature-p {
  color:#8f8f8f;
  padding: 0 8%;
}

/* Testimonial Section */

#testimonials {
  background-color: #2e856e;
  text-align: center;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
   border-radius: 50%;
   width: 10%;
   margin: 20px;
 }

 /* Pricing */

 #pricing {
   text-align: center;
 }

.pricing-h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

.contact-btn {
  display: inline-block;
}

/* cta */
#cta {
  text-align: center;
}

.cta-header {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem 0 3rem;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 0;
}

/* Footer */

#footer {
  text-align: center;
}

.footer-icon {
  margin: 0.5rem;
  color: black;
}

.footer-p {
  color: #8f8f8f;
  margin-top: 0.5rem;
}

/* Media Querys */

@media (max-width: 990px){
  #title{
    text-align: center;
  }

  .title-image {
    position: relative;
    z-index: 2;
    right: 2rem;
  }

  .bush1 {
    left: 10rem;
  }
}
